<nav>
  <h1>PhoneBook App</h1>
     
      <div class="container">
        <div class="menu">Menu</div>
        <div class="content">
          <a href="/">Home</a>
          <a href="#">About</a>
          <a href="#">Product</a>
        </div>   
      </div>
      
      <div class="add">
      <a href="/add-contact">Add-Contact</a>  
      </div>  
</nav>   